.settings.page_http_caching fieldset {
	border-top: 0;
	margin-top: 0;
	padding-top: .5rem;
}

.settings.page_http_caching fieldset legend {
	color: #222222;
}

.page_http_caching .inline-options label {
	display: inline-block;
	margin-top: 0;
	margin-right: 1.6rem;
}

.page_http_caching .inline-options label input[type=radio] {
	margin-right: 0;
	position: relative;
	top: .27em;
}
